/***********
 * IMPORTS *
 ***********/
 

/* Sanitizer */
@import url("modules/sanitizer.css");

/* Font */
@import url("modules/font.css");

/* Material Icons */
@import url("modules/material-icons.css");

/* Utilities */
@import url("modules/utilities.css");

/* Animations */
@import url("modules/animations.css");

/* Spinner */
@import url("modules/spinner.css");

/* Toastr */
@import url("modules/toastr.css");

/* Modal */
@import url("modules/modal.css");

/* Form */
@import url("modules/form.css");








/***********
 * GLOBALS *
 ***********/
:root {
    --primary-color: #000000;
    --accent-color: #161515;

    --text-color: #312e2e;
    --success-color: #0f766e;
    --error-color: #B71C1C;
    --light-text-color: #4e4949;

    --app-background-color: #f7f1f1;

}




















/************
 * APP BODY *
 ************/
body {
    font-family: "Montserrat", "Roboto", sans-serif;
    background-color: var(--app-background-color);
    height: 100%;
    width: 100%;
}







/*****************
 * APP CONTAINER *
 *****************/
#app_container {

}










/**********
 * HEADER *
 **********/
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--primary-color);
    color:#FFFFFF;
    padding:15px;
}



/* Header Buttons */
header button, #sub_header button {
    margin: 0 0 0 auto;
    padding:0;
    background-color: var(--header-button-background);
    color:white;
}
header button:hover, #sub_header button:hover {
    cursor:pointer;
    opacity: 0.7;
}





/* Logo */
header #logo_text {
    margin-left: 7px;
    font-size: 1.7rem;
    font-weight: bold;
}




/* Sidenav Toggler */
#sidenav_opener {
    display: none;
}



/* View Source Code */
#source_code_button {
    padding: 10px;
    color: white;
    font-weight: bold;
    margin-left: auto;
    text-decoration: none;
    font-size: 0.9rem;
    background-color: var(--accent-color);
}
#source_code_button:hover {
    opacity: 0.7;
}






/**************
 * SUB HEADER *
 **************/
#sub_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--accent-color);
    color:#FFFFFF;
    padding:15px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
    font-weight: bold;
}



#sub_header #sub_header_title {
    font-size: 1.2rem;
    margin-right: auto;
}

#sub_header button{ margin:0}
#sub_header button:last-child{ margin-left: 15px;}







/***********************
 * APP INNER CONTAINER *
 ***********************/ 
#app_inner_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}








/***********
 * SIDENAV *
 ***********/
#sidenav {
    width: 300px;
    padding:25px 15px 15px 15px;
}


/* Sidenav Header */
#sidenav .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#sidenav .header h2 {
    font-size: 1.1rem;
    color: var(--light-text-color);
    font-weight: 600;
}
#sidenav .header #add_project_button {
    background-color: inherit;
    margin: 0 0 0 auto;
    color: var(--light-text-color);
    padding:0;
}
#sidenav .header #add_project_button:hover {
    cursor: pointer;
    opacity: 0.7;
}




/* Sidenav List */
#sidenav #sidenav_projects {
    margin-top: 25px;
}

#sidenav #sidenav_projects ul li button, 
#mobile_sidenav_container #mobile_sidenav #mobile_sidenav_projects ul li button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 7px;
    background-color: inherit;
    font-size:0.9rem;
}
#sidenav #sidenav_projects ul li button:hover, 
#mobile_sidenav_container #mobile_sidenav #mobile_sidenav_projects ul li button:hover {
    cursor: pointer;
    background-color: #ebe2e2;
}
#sidenav #sidenav_projects ul li button:disabled, 
#mobile_sidenav_container #mobile_sidenav #mobile_sidenav_projects ul li button:disabled {
    cursor: not-allowed;
    background-color: inherit;
}

#sidenav #sidenav_projects ul li button .badge, 
#mobile_sidenav_container #mobile_sidenav #mobile_sidenav_projects ul li button .badge {
    background-color: var(--primary-color);
    color:white;
    padding:3px 6px;
    margin-left:auto;
    font-size:0.7rem;
    font-weight:bold;
    border-radius: 30px;
}

#sidenav #sidenav_projects ul li button:disabled .badge, 
#mobile_sidenav_container #mobile_sidenav #mobile_sidenav_projects ul li button:disabled .badge {
    background-color: #837a7a;

}






/******************
 * MOBILE SIDENAV *
 ******************/
#mobile_sidenav_container {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index:2;
    display: none;
    animation: fadein;
    animation-duration:0.5s;
}

#mobile_sidenav_container #mobile_sidenav {
    position:absolute;
    top:0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--app-background-color);
    z-index:3;
}

#mobile_sidenav_container #mobile_sidenav header {
    padding: 15px;
    background-color: var(--accent-color);
    color:white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
    gap: 15px;
}

#mobile_sidenav_container #mobile_sidenav header h2 {
    font-size: 1.2rem;
    flex:1;
}


#mobile_sidenav_container #mobile_sidenav #mobile_sidenav_projects {
    margin-top: 15px;
}









/*******************
 * TODOS CONTAINER *
 *******************/
#todos_container {
    flex: 1;
    padding: 15px;
}


/* No TODOs Found */
.no-todos-found {
    margin-top:50px;
    text-align: center;
    color: var(--light-text-color);
    font-size: 0.9rem;
}




/* TODO Item */
.todo-item {
    background-color: white;
    padding: 15px 10px;
    margin: 15px 0;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
.todo-item p { flex:1; }
.todo-item p:hover { cursor: pointer;}
.todo-item button:hover { opacity: 0.7;}


/* Completed State */
.todo-item.completed { opacity:  0.5;}
.todo-item.completed p { text-decoration: line-through;color: var(--light-text-color)}


/* TODO Priority */
.todo-item.priority-1 { border-left: 5px solid #042f2e}
.todo-item.priority-2 { border-left: 5px solid #0d9488}
.todo-item.priority-3 { border-left: 5px solid #99f6e4}











/*******************
 * TODO ADD BUTTON *
 *******************/
#todo_add_button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: var(--primary-color);
    color:white;
    border-radius: 50%;
    padding:15px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
}
#todo_add_button:hover {
    cursor: pointer;
    opacity: 0.85;
}














/****************************
 * RESPONSIVE MEDIA QUERIES *
 ****************************/



/*
 * DEVICE: Desktops
 * SCREEN: 1281px to higher resolution desktops
 */
@media (min-width: 1281px) {



}
 
 
/*
 * DEVICE: Laptops, Desktops
 * SCREEN: B/w 1025px to 1280px
 */
@media (min-width: 1025px) and (max-width: 1280px) {


}
 
 
/*
 * DEVICE: Tablets, Ipads (portrait)
 * SCREEN: B/w 768px to 1024px
 */
@media (min-width: 768px) and (max-width: 1024px) {



}
 
 
/*
 * DEVICE: Tablets, Ipads (landscape)
 * SCREEN: B/w 768px to 1024px
 */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {




}
 
 
/*
 * DEVICE: Low Resolution Tablets, Mobiles (Landscape)
 * SCREEN: B/w 481px to 767px
 */
@media (min-width: 481px) and (max-width: 767px) {
    /**********
     * HEADER *
     **********/

    /* Logo */
    header .md-icon.md-48 { font-size: 38px;}
    header #logo_text { font-size: 1.3rem; }

    /* Sidenav Toggler */
    header #sidenav_opener { display: block; }

    /* View Source Code */
    header #source_code_button { display: none; }







    /***********
    * SIDENAV *
    ***********/
    #sidenav { display: none; }







    /*******************
    * TODO ADD BUTTON *
    *******************/
    #todo_add_button {
        bottom: 10px;
        right: 10px;
        padding:10px;
    }


}

 
 
/*
 * DEVICE: Most of the Smartphones Mobiles (Portrait)
 * SCREEN: 480px to lower resolution mobiles
 */
@media (max-width: 480px) {
    /**********
     * HEADER *
     **********/

    /* Logo */
    header .md-icon.md-48 { font-size: 38px;}
    header #logo_text { font-size: 1.3rem; }

    /* Sidenav Toggler */
    header #sidenav_opener { display: block; }

    /* View Source Code */
    header #source_code_button { display: none; }







    /***********
    * SIDENAV *
    ***********/
    #sidenav { display: none; }







    /*******************
    * TODO ADD BUTTON *
    *******************/
    #todo_add_button {
        bottom: 10px;
        right: 10px;
        padding:10px;
    }
}